.body-container {
    display: flex;
    min-height: 25vh;
    justify-content: center;
    flex-direction: column;
    border-style: dotted;
}

.searchbar {
    border-style: double;
    /* text-align: center; */
    /* align-self: center; */
    padding: 50px;
}

.form {
    text-align: center;
    align-items: center;
}

.input {
    text-align: center;
    height: 50px;
    min-width: 500px;
    border-radius: 50px;
    font-size: x-large;
}