.search-container {
    border-style: double;
    min-height: 25vh;
    display:flex;
    justify-content: center;
}

.input {
    height: 75px;
    border-color: none;
    width:400px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-radius: 100px;
    color:rgb(99, 30, 30);
}
