.search-container {
    min-height: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    margin: auto;
}

.search-title {
    margin: auto;
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    height: 75px;
    border-color: none;
    border-style: none;
    width:500px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-radius: 100px;
    color:rgb(99, 30, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.drink-image {
    height: auto;
    width:20rem;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.drink-info{
    text-align: center;
    font-size: x-large;
}